<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    <!-- Use action="/create-checkout-session.php" if your server is PHP based. -->
    <form action="PayOrderStripeAsync/7CDD2B5C-B9F4-4406-A1B7-F46D8301CA78" method="POST">
      <button type="submit">Checkout</button>
    </form>
  </body>
</html>