@{
    ViewData["Title"] = "Payment";
}

<div class="text-center">
    <h1 class="display-4">Payment Success</h1>
    <a href="https://touba.sinamn75.com/#/dashboard/table-order"><h1>Return To Site</h1></a>
</div>